#loading-page {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 2px;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
  }
  
  
  #main-page h1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  #circle-container {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:300px;
     margin-top:200px;
    
  }
  
  #circle {
    width: 20%;
    height: 90%;
    border-radius: 50%;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 2s linear infinite, scale 2s ease-in-out infinite alternate , motion 3s linear infinite alternate-reverse ;
  }
  
  #letter {
    font-size: 60px;
    color: #ffffff;
    display : flex;
    margin:0;
     justify-content: center;
    align-items: center;
  
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50%{
        transform: rotate(60deg);
    }
    70%{
            transform: rotate(-60deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes motion{
    0%{
      background-color: blue;

    }
    40%{
      background-color: chocolate;

    }
    70%{
      background-color: #ff0000;

    }
    100%{
      background-color: darkviolet;
    }
  }

  